<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercice de base</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body class="bg-gray-100">
    <div id="root" class="container mx-auto pb-6 p-3">
      <h1>Friends list</h1>
      <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
          <ami-contact></ami-contact>
          <ami-contact></ami-contact>

          
        <!-- <li v-for="ami in amis" :key="ami.id" class="bg-white rounded-lg shadow">
            <div class="w-full flex items-center justify-between p-6 space-x-6">
                <div class="flex-1 truncate">
                    <div class="flex items-center space-x-3 ">
                        <h3 class="text-gray-900 text-4xl  font-medium">{{ami.name}}</h3>
                    </div>
                    <button type="button" @click="toggleDetails"
                        class="p-1 rounded-lg border border-blue-300 text-gray-700 hover:bg-blue-300 text-white">Show
                        details</button>
                </div>
            </div>
            <div v-if="isDetailsVisible" class="border-t border-gray-200">
                <div class="-mt-px flex">
                    <div class="w-0 flex-1 flex border-r border-gray-200">
                        <p
                            class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm leading-5 text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 transition ease-in-out duration-150">
                            <span class="font-medium text-indigo-500">Email</span> : {{ami.email}}
                        </p>
                    </div>
                    <div class="-ml-px w-0 flex-1 flex">
                        <p
                            class="relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm leading-5 text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 transition ease-in-out duration-150">
                            <span class="font-medium text-indigo-500">phone</span> : {{ami.phone}}
                        </p>
                    </div>
                </div>
            </div>
        </li> -->
    </div>
  </body>
</html>
